<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.androidproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:name=".SharedPreferenceConfig.App"
        android:allowBackup="true"
        android:icon="@drawable/logo_white_backgorund"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CampaignActivity"></activity>
        <activity android:name=".SubPayActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="payment" />
            </intent-filter>
        </activity>
        <activity android:name=".MainFragment.StoreList.FindToMapActivity" />
        <activity
            android:name=".StoreInfo.StoreActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ServiceInfo.ServiceActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ServiceInfo.B2BActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AcceptRequest.AcceptActivity"
            android:parentActivityName=".ServiceInfo.ServiceActivity" />
        <activity
            android:name=".AcceptRequest.ReviewActivity"
            android:parentActivityName=".AcceptRequest.AcceptActivity" />
        <activity
            android:name=".MainFragment.Mypage.DeleteSubActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainFragment.Mypage.EatenLogActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainFragment.Mypage.ModificationInfoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainFragment.Mypage.EnterpriseCodeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddressSetting.DetailAddressActivity"
            android:parentActivityName=".AddressSetting.MyAddressSettingActivity" />
        <activity
            android:name=".AddressSetting.WebViewFindTextAddressActivity"
            android:parentActivityName=".AddressSetting.MyAddressSettingActivity" />
        <activity
            android:name=".AddressSetting.MyAddressSettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".PushAlertService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".AcceptRequest.ReviewService"/>

        <receiver
            android:name=".AcceptRequest.AlarmReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".SignupDetailActivity" />
        <activity android:name=".ItemRegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="main"
                    android:scheme="leteatgo" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>